@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';

.firstPage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1170px;
  height: calc(100vh - 60px); 
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/bg_photos/pexels-alexandr-podvalny-1227513.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 40px 16px;

  @include onLandscape {
    height: 100vh;
    padding: 20px 16px;
  }

  @include onTablet {
    padding: 89px 194px;

    @include onLandscape {
      padding: 30px 190px;
    }
  }

  @include onDesktop {
    padding: 164px 322px;
  }
}

.title-first-page {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: $font-white;
  margin-bottom: 21px;

  @include onLandscape {
    margin-bottom: 10px;
  }
}

.content-first-page {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: $font-white;
  margin-bottom: 36px;
  opacity: 1;

  @include onLandscape {
    margin-bottom: 15px;
  }

  @include onMobile {
    width: 100%;
  }
}

.button-sign-up {
  width: 100px;
  height: 34px;
  background-color: $primary-color;
  border-radius: 80px;
  border: none;
  color: $font-color;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: $hover-color;
  }

  &:disabled {
    background-color: $disabled-color;
    color: #FFFFFFDF;
  }
}