$breakpoints: (
  mobile: 360px,
  tablet: 768px,
  desktop: 1024px,
  ultraWide: 2560px
);

@mixin onMobile {
  @media (min-width: map-get($breakpoints, mobile)) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}

@mixin onUltraWide {
  @media (min-width: map-get($breakpoints, ultraWide)) {
    @content;
  }
}

